<div class="footer" id="footer">

    <div class="footer-content" id="fleft">
        <div id="fleft-content">
            <div id="fleft-number">
                <p>(31) 97349-7123</p>
            </div>
            <div id="fleft-adress">
                <p> Av. Dos Cachorros - 3000 <br>
                Pastor Alemão<br>
                Belo Horizonte MG<br>
                Cep: 32222-222</p>
            </div>
        </div>
    </div> 


   <div class="footer-content" id="fcenter">

   </div>


    <div class="footer-content" id="fright">
        <div id="fright-content">
            <a href="#" id="about">Sobre</a>
            <a href="#" id="contact">Contato</a>
        </div>
   </div>

    
</div>