<!-- Background Carousel-->
<div id="background-carousel"></div>
<!-- Blur -->
<div id="background-blur"></div>
<!-- Whatsapp-->

  <div class="whatsapp-icon">
          <a href="http://api.whatsapp.com/send/?phone=5531973497123&text=Olá,%20Diego." target="_blank" rel="noopener noreferrer" class="clickwpp">
            <i class="fa-brands fa-whatsapp fa-2xl" style="color: #ffffff;"></i>
          </a>
  </div>

<!-- Shadow-->

<div id="background-shadow">
<!-- Carousel -->

<div class="carousel-padding-control">
      <div id="background-part1"></div>
        <div id="carouselcontrol">
          <div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div id="item-1" class="items-carousel">
              <div id="carousel-img" class="carousel-control-content">
                <img src="../images/Hyundai1.png" id="imgcarousel1" class="d-block w-100" alt="...">
              </div>
      <div id="carousel-content"class="carousel-control-content">
        <div class="carousel-box-info">
          <div class="carousel-group">
              <div class="carousel-title">Ano</div>
              <div class="carousel-car-info">2017/2018</div>
          </div>
          <div class="carousel-group">
              <div class="carousel-title">Km</div>
              <div class="carousel-car-info">43.238</div>
          </div>
          <div class="carousel-group">
              <div class="carousel-title">Valor</div>
              <div class="carousel-car-info">R$140.000</div>
          </div>
        </div>
      </div>
            </div>
          <div class="carousel-caption d-none d-md-block top-0">
              <h3 id="textcarousel">Descubra um novo mundo !</h5>
              <p id="textcarousel">Grand Santa Fé</p>
            </div>
          </div>
          <div class="carousel-item">
          <div id="item-1" class="items-carousel">
              <div id="carousel-img" class="carousel-control-content">
                <img src="../images/Fiat_PUNTO.png" id="imgcarousel1" class="d-block w-100" alt="...">
              </div>
      <div id="carousel-content"class="carousel-control-content">
        <div class="carousel-box-info">
          <div class="carousel-group">
              <div class="carousel-title">Ano</div>
              <div class="carousel-car-info">2013/2014</div>
          </div>
          <div class="carousel-group">
              <div class="carousel-title">Km</div>
              <div class="carousel-car-info">87.750</div>
          </div>
          <div class="carousel-group">
              <div class="carousel-title">Valor</div>
              <div class="carousel-car-info">R$31.540</div>
          </div>
        </div>
      </div>
                  <div class="carousel-caption d-none d-md-block top-0">
                      <h5 id="textcarousel">De a partida !</h5>
                      <p id="textcarousel">Fiat Punto</p>
                  </div>
            </div>
          </div>
          <div class="carousel-item">
            <div id="item-1" class="items-carousel">
                  <div id="carousel-img" class="carousel-control-content">
                    <img src="../images/Fiat500.png" id="imgcarousel1" class="d-block w-100" alt="...">
                    </div>
      <div id="carousel-content"class="carousel-control-content">
              <div class="carousel-box-info">
          <div class="carousel-group">
              <div class="carousel-title">Ano</div>
              <div class="carousel-car-info">2012/2013</div>
          </div>
          <div class="carousel-group">
              <div class="carousel-title">Km</div>
              <div class="carousel-car-info">134.872</div>
          </div>
          <div class="carousel-group">
              <div class="carousel-title">Valor</div>
              <div class="carousel-car-info">R$38.900</div>
          </div>
        </div>
      </div>
            
              </div>
          <div class="carousel-caption d-none d-md-block top-0">
              <h5 id="textcarousel">Mude seu pensamento</h5>
              <p id="textcarousel">Fiat500</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      </div>
</div>

<!-- End Carousel -->
<!-- Body 2 -->
<div id ="body-mid">
    <div id ="body-box-1" >
      <div id="body-box-part1" class="info-box-1">
        DOGCAR
      </div>
      <div id="body-box-part2" class="info-box-1">
            <div id="body-title"> Vire a chave</div>
            <div id="body-body">INICIE</div>
        </div>
      <div id="body-box-part3" class="info-box-1">
          <div class ="body2-text" id="body-body2-part1">A DogCar tem um compromisso </div>
          <div class ="body2-text" id="body-body2-part2"> com seus clientes</div>
          <div class ="body2-text" id="body-body2-part3">ser a ferramente para alcançar sonhos</div>
    </div>
</div>
</div>
<!-- Flex Wraper -->
<div id="flex-wraper">
    <div id="left">
      <img class="img-wraper" src="../images/fix/flex-wrape.jpg" alt="Conheça nossa frota">
    </div>
    <div id="right">
        <div class="right-left">
      <div class="right-info" id="right-left-title">Faça sua compra</div>
      <div class="right-info" id="right-left-body">Conheça nossa frota</div>
        </div>
    </div>
</div>

{{>footer}}